/***************************************************************************************
This is an example of modularized files that you can import into
the main.scss to organize your code.
***************************************************************************************/
$green: #2BBBAD;
$black: #131313;
$white: #fcfcfc;
$blue: #2980b9;
$red: #e74c3c;
