/***************************************************************************************
Import all modularized SCSS files first.
***************************************************************************************/
@import '_transitions';
@import '_colors';
@import '_menu';
@import '_page_context';
@import '_profile';
@import '_import';
@import '_teams';


/***************************************************************************************
These are here for informational purposes only. Feel free to delete.
***************************************************************************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  font-weight: 400;
}

h2 {
  font-size: 25px;
  margin: inherit;
}

h4 {
  font-size: inherit;
  margin: inherit;
}

p {
  font-size: inherit;
}

a {
  text-decoration: none;
  color: $green;
}

#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 240px;
  right: 0;
  overflow: hidden;
}

.padding-all {
  padding: 15px !important;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.big-button {
  display: inline-block;
  border-radius: 2px;
  padding: 6px 22px;
  font-size: 18px;
  background: $white;
  border: solid 1px rgba($black, 0.1);
  box-shadow: 0 4px 5px rgba($black, 0.4);
  line-height: 1.6;
  transition: 0.1s ease-in-out;
  margin-right: 10px;
  &:hover {
    background: darken($white, 3%);
  }
  &:focus, &:visited {
    background: $white;
  }
}

.label {
  background: rgba($black, 0.1);
  font-size: 12px;
  color: rgba($black, 0.8);
  font-weight: 400;
  padding: 5px 8px;
  border-radius: 6px;
  margin: 0 10px 10px 0;
}

.right {
  float: right;
}

.card {
  border: solid 0.02rem rgba($black, 0.1);
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba($black, 0.05);
}

.list-group {
  margin-top: 15px;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.second {
  border-top: 1px solid #e5e5e5;
}

.modal-body .user-targets li.label {
  margin-bottom: 0;
}

.inline-input {
  border: none;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.btn {
  margin-left: 0!important;
}

.input-field {
  margin-bottom: 1rem;
}

.white-button {
  background: #fcfcfc;
  color: #131313;
  border: 1px solid rgba(19,19,19,.2);
  margin-left: 8px;
  padding: 8px 12px;
  font-size: 14px;
  float: right;
  margin-top: 8px;
  transition: .2s ease-in-out;
  &:hover, &:focus {
    background: #f2f2f2;
  }
  &.green {
    color: $green;
    border: 1px solid $green;
    &:hover, &:focus {
      background: darken($green, 3%);
    }
  }
}

.channel-button {
  width: 100%;
  
}

.table {
  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
  }
  .thead-default th {
    color: #55595c;
    background-color: #eceeef;
  }
  th {
    padding: .75rem;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #eceeef;
  }
}

.transparent {
  color: transparent;
}

.checker {
  z-index: 9999;
}

.lefty {
  float: left;
}

.righty {
  float: right;
  &.custom {
    margin-top: -75px;
  }
}

.custom-fields-image {
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px;
  padding: 10px 20px;
  .btn {
    margin-top: 0;
  }
}

.border-right {
  border-right: 1px solid #eceeef;
}

.input-field label {
  left: 0;
}

/***************************************************************************************
THIS IS FOR THE CHANNELS
***************************************************************************************/
.channel-box {
  padding: 15px 0;
}
